.defaultTreeTable{
			margin : 0;
			padding : 0;
			border : 0;
}
.containerTableStyle { overflow : auto; font-size : 12px;}
.standartTreeRow{ font-family :Arial; 	font-size : 12px; -moz-user-select: none; }
.selectedTreeRow{ background-color : #bfdcf3; color:black; font-family : Arial; 		font-size : 12px;  -moz-user-select: none;  }
.standartTreeImage{ width:18px; height:18px;  overflow:hidden; border:0; padding:0 3px 0 0; margin:0; }
.hiddenRow { width:1px;   overflow:hidden;  }
.dragSpanDiv{ 	font-size : 12px; 	border: thin solid 1 1 1 1; }
